

$enable-shadows: true;
$primary: rgb(184, 164, 214);
$enable-negative-margins: true;

$body-color:  #333;
$body-bg: #f2f2f2;

@import '../scss/bootstrap.scss';
@import "~bootstrap/scss/bootstrap";

